<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<title>Directives</title>
	<link href="bootstrap.css" rel="stylesheet">
	<link href="bootstrap-theme.css" rel="stylesheet">
	<script src="angular.js"></script>
	<script src="angular-route.js"></script>
	<script src="vkbeautify.js"></script>
	<script src="app.js"></script>
	<script src="xmljsonconv.js"></script>
</head>
<style type="text/css">
	body {
		padding-top: 70px;
	}
	#withfixednav {
		padding-top: 70px;
	}
	textarea {
		height: 100%; 
		width:100%
		padding : 1px;
	}
</style>
<body ng-controller="mainCtrl">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<ul class="nav navbar-nav">
				<li><a class="navbar-brand" href="#/">Format</a></li>
				<li ng-repeat="option in options">
					<a ng-repeat="(key,value) in option" ng-href="#/{{key}}">{{value}}</a>
				</li>
			</ul>			
		</div>
	</div>
	<div ng-view></div>
</body>
</html>